#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*Sizing the puppy image*/
img {
  height: 300px;
  width: 500px
}

/*Centering the caption under the photo*/
caption {
  float: left;
  text-align: left;
  width: 300px;
  padding-left: 125px;
}

/*Styling the bio with a dotted blue border */
.bio {
  border: 5px dotted lightblue;
  display: block;
}

/*Styling the intake form with a black border. */

.intakeForm {
  border: 5px solid black;
  background-color: beige;
}






